doctype html
html(lang='en')
head
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='/jquery-3.3.1.min.js')
    script(src = '/qrcode.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title NTUIOIA Registration
body
    div(class = 'container')
        h2 #{data.englishName}  #{data.chineseName}
        h2 #{data.id}
        div(id = 'qrcode')
        h3 Please proceed to counters:
        ul(style="list-style-type: none")
            each val in data.displayData
              li 
                h4 #{val}
        h4 After passing all, proceed to counter [S] to receive student ID card.
        script.
            new QRCode(document.getElementById("qrcode"), "#{data.id}");
            window.addEventListener("load", function(event) {
              let msg = 'Proceed to the listed counters to complete registration. After passing all, go to counter [S].';
              alert(msg);
              alert(msg);
              alert(msg);
            });
