doctype html
html(lang='en')
head
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='/jquery-3.3.1.min.js')
    script(src = '/qrcode.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title NTUIOIA Registration
body
    div(class = 'container')
        h2 #{data.englishName}  #{data.chineseName}
        h2 #{data.id}
        div(id = 'qrcode')
        h3 Please go to the following counters to complete the registration:
        ul 
            each val in data.displayData
                li=val
        h3 After passing all above counters, please go outside and receive your student ID card.
        script.
            new QRCode(document.getElementById("qrcode"), "#{data.id}");